
.project-bar {
  /* height: 100%; */
  width: 100%;
  /* background-color: black; */
  color: white;
}

#project-bar-header {
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
.project-tag {
    flex-shrink: 0;
    cursor: pointer;
    height: 75%;
    width: 5rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        
    }
}

#project-bar-content {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.project-item {
    /* width: 30%; */
    max-width: 100%;
    height: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
.project-image {
    height: 6rem;
    overflow: hidden;
}
.project-image > img {
    /* height: 100%; */
    width: 100%;
    /* width: auto; */
    object-fit: cover;
}

.project_item_name {
    width: 100%;
    text-align: start;
    margin-top: 1rem;
    height: 2rem;
    /* color: orangered; */
}
.project_item_details {
    width: 100%;
    height: 4rem;
    text-align: start;
    font-size: 0.5rem;
    /* margin-top: 0.5rem; */
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
@media screen and (min-width: 768px) {
    #project-bar-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project-item {
        /* width: 30%; */
        /* padding: 1rem; */
    }
    .project-image {
    }
    .project-image > img {
    }

}


@media screen and (min-width: 1024px) {
    #project-bar-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}