body, #root {
  overflow-x: hidden;
}

#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 2rem;
  text-align: center;
  color: black;
  box-sizing: border-box;
  
}

@media screen and (min-width: 1024px) {
  #root {
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  #root {
    padding: 12rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.header {
  height: 2rem;
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 1rem;
  /* position: absolute; */
  /* top: 2rem; */
}
.header-logo {
  height: 75%;
  width: auto;
}
.header-controls-holder {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;

}

@media screen and (min-width: 768px) {
  
}

.hero {
  height: calc(100dvh - 2rem - 2rem);
  width: 100%;
  /* background-color: white; */

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  /* padding: 4rem; */
  /* padding-left: 0;
  padding-right: 0; */
}

.hero-child {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  /* padding: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-child > img {
  height: 75%;
  max-width: 100%;
  width: auto;

  border-radius: 1rem;
}

#hero-details {
  display: flex;
  flex-direction: column;
  color: white;
  /* justify-content: end; */
}
.hero-detail-item {
  margin: 0;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .hero-child > img {
    height: 50%;
  }

  #hero-image {
    justify-content: start;
  }

  .hero-detail-item {
    text-align: end;
  }
}
